<div class="header">Add a New Trip</div>

<div class="create-trip-form">
    <form class="needs-validation" novalidate method="POST" action="/trip">
        <div class="form-row">
            <div class="col-md-4 mb-3">
                <label for="validationCustom01">Trip Name</label>
                <input type="text" class="form-control" placeholder="Trip Name" name="name" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
                <div class="invalid-feedback">
                    Please name your trip.
                </div>
            </div>
            <div class="col-md-4 mb-3">
                <label for="validationCustom02">Country</label>
                <select class="form-control" name="country" required>
                    <option value="Canada">Canada</option>
                    <option value="United States of America">United States of America</option>
                </select>
                <div class="invalid-feedback">
                    Please select a country.
                </div>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-3 mb-3">
                <label for="validationCustom03">City</label>
                <input type="text" class="form-control" name="city" required>
                <div class="invalid-feedback">
                    Please provide a valid city.
                </div>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="col-md-3 mb-3">
                <label for="validationCustomUsername">State</label>
                <div class="input-group">
                    <input type="text" class="form-control" name="state" required>
                    <div class="invalid-feedback">
                        Please provide a valid State.
                    </div>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
            </div>
            <div class="col-md-2 mb-3">
                <label for="validationCustom03">Airpot</label>
                <input type="text" class="form-control" name="airport" required>
                <div class="invalid-feedback">
                    Please provide a valid airport.
                </div>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-3 mb-3">
                <label for="validationCustom03">Start Date</label>
                <input type="date" class="form-control" name="startDate" required>
                <div class="invalid-feedback">
                    Please select a start date.
                </div>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="col-md-3 mb-3">
                <label for="validationCustom03">End Date</label>
                <input type="date" class="form-control" name="endDate" required>
                <div class="invalid-feedback">
                    Please select an end date.
                </div>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="col-md-2 mb-3">
                <label for="validationCustom03">Days on the Slopes</label>
                <input type="number" class="form-control" name="daysSkiing" required>
                <div class="invalid-feedback">
                    Please provide how many days you are planning on skiing.
                </div>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-8 mb-3">
                <label for="exampleFormControlTextarea1">Notes</label>
                <textarea class="form-control" rows="3" name="notes"></textarea>
            </div>
        </div>


        <input type="hidden" value="{{singleUser._id}}" name="userId" />

        <div class="form-row">
            <div class="col-md-4 mb-3">
                <input type="submit" value="Create" class="btn btn-info btn-lg btn-block" />
            </div>
        </div>
    </form>
</div>