<div class="header">Create Resort</div>

<div class="create-resort-wrapper">
    <form class="needs-validation" novalidate method="POST" action="/resort">

        <div class="form-group row">
            <label>Name</label>
            <div class="col-sm-5">
                <input type="text" class="form-control" name="name" placeholder="Resort Name" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
                <div class="invalid-feedback">
                    Please enter the resort's name.
                </div>
            </div>
        </div>

        <div class="form-group row">
            <label>Average Annual Snowfall (in.)</label>
            <div class="col-sm-5">
                <input type="number" class="form-control" name="averageAnnualSnowfall" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
                <div class="invalid-feedback">
                    Please enter the average annual snowfall.
                </div>
            </div>
        </div>

        <div class="form-group row">
            <label>YTD Snowfall (in.)</label>
            <div class="col-sm-5">
                <input type="number" class="form-control" name="yearToDateSnowfall" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
                <div class="invalid-feedback">
                    Please enter the year to date (YTD) snowfall.
                </div>
            </div>
        </div>

        <div class="form-group row">
            <label>Current Base (in.)</label>
            <div class="col-sm-5">
                <input type="number" class="form-control" name="currentBase" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
                <div class="invalid-feedback">
                    Please enter the current base.
                </div>
            </div>
        </div>

        <div class="form-group row">
            <label>Vertical Feet (ft.)</label>
            <div class="col-sm-5">
                <input type="number" class="form-control" name="verticalFeet" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
                <div class="invalid-feedback">
                    Please enter the vertical feet.
                </div>
            </div>
        </div>

        <div class="form-group row">
            <label>Number of Trails</label>
            <div class="col-sm-5">
                <input type="number" class="form-control" name="amountOfTrails" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
                <div class="invalid-feedback">
                    Please enter the number of trails on the mountain.
                </div>
            </div>
        </div>

        <div class="form-group row">
            <label>Number of Lifts</label>
            <div class="col-sm-5">
                <input type="number" class="form-control" name="amountofLifts" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
                <div class="invalid-feedback">
                    Please enter the number of lifts on the mountain.
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label>Is this resort on the Ikon Pass?</label>
            <div class="col-sm-5">
                <select class="form-control" name="onIkonPass" required>
                    <option value="" disabled selected hidden>Select an option</option>
                    <option value="true">Yes</option>
                    <option value="false">No</option>
                </select>
                <div class="valid-feedback">
                    Looks good!
                </div>
                <div class="invalid-feedback">
                    Please select an option.
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label>Is this resort on the Epic Pass?</label>
            <div class="col-sm-5">
                <select class="form-control" name="onEpicPass" required>
                    <option value="" disabled selected hidden>Select an option</option>
                    <option value="true">Yes</option>
                    <option value="false">No</option>
                </select>
                <div class="valid-feedback">
                    Looks good!
                </div>
                <div class="invalid-feedback">
                    Please select an option.
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label>Notes</label>
            <div class="col-md-8 mb-3">
                <textarea type="textarea" class="form-control" name="notes"
                    placeholder="Write a short description about the reosrt..."></textarea>
            </div>
        </div>

        <div class="form-row">
            <div class="col-md-4 mb-3">
                <input type="submit" value="Create" class="btn btn-info btn-lg btn-block" />
            </div>
        </div>

        <input type="hidden" value="{{singleTrip._id}}" name="tripId" />
    </form>
</div>