<div class="header">Create Resort</div>


<form method="POST" action="/resort">

    <label>Name</label>
    <input type="text" placeholder="Resort Name" name="name" />

    <label>Average Annual Snowfall (in.)</label>
    <input type="number" name="averageAnnualSnowfall" />

    <label>YTD Snowfall (in.)</label>
    <input type="number" name="yearToDateSnowfall" />

    <label>Current Base (in.)</label>
    <input type="number" name="currentBase" />

    <label>Vertical Feet (ft.)</label>
    <input type="number" name="verticalFeet" />

    <label>Number of Trails</label>
    <input type="number" name="amountOfTrails" />

    <label>Number of Lifts</label>
    <input type="number" name="amountofLifts" />

    <label>Does this resort on mountain lodging?</label>
    <select name="hasOnMountainLodging">
        <option value="true">Yes</option>
        <option value="false">No</option>
    </select>

    <label>Is this resort on the Ikon Pass?</label>
    <select name="onIkonPass">
        <option value="true">Yes</option>
        <option value="false">No</option>
    </select>

    <label>Is this resort on the Epic Pass?</label>
    <select name="onEpicPass">
        <option value="true">Yes</option>
        <option value="false">No</option>
    </select>

    <label>Notes</label>
    <input type="text" name="notes" value="{{notes}}">

    <input type="submit" value="Create" />
</form>