<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Ski Resort Planner</title>
    <link rel="stylesheet" href="/css/style.css" type="text/css">
</head>

<body>
    <a href="/" class="text-decoration-none">
        <div class="menu">Home</div>
    </a>
    <a href="/user" class="text-decoration-none">
        <div class="menu">Users</div>
    </a>
    {{{body}}}

</body>

</html>