body {
    font-family: 'SF Pro Text', sans-serif;
}

.title {
    font-size: 24px;
    color: black;
}

a {
    text-decoration: none;
}

.welcome {
    text-align: center;
    font-size: 45px;
    font-weight: 400;
    letter-spacing: 0.5px;
    padding: 20px 20px 0 20px;
    margin: 10px 10px 0 10px;
}

.description{
    text-align: center;
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 0.5px;
    padding: 0 20px 20px 20px;
    margin: 0 10px 10px 10px;
}

.create-user-form{
    margin: auto;
    width: 300px;
    padding: 40px 20px 20px 20px;
}

.form-control {
    margin: 0 0 20px 0;
}

.card {
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.user-cards {
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 20px 200px 20px 200px;
    padding: 20px;
}

.header {
    font-size: 32px;
    letter-spacing: 1px;
    font-weight: 300;
    text-align: center;
    padding: 10px;
    margin: 10px;
}

.form-row {
    justify-content: center;
}

.user-jumbotron {
    display: flex;
    justify-content: center;
}

.jumbotron {
    width: 50%;
}

/* .trip-link {
    color: #17a2b8 ;
} */
/* 
.add-trip-button {
    border: solid #17a2b8 1px;
} */
