<div class="header">All Users</div>
<div class="text-center">
    <a href="/">
        <button class="btn btn-primary">
            Create User
        </button>
    </a>
</div>

<div class="user-cards">
    {{#each allUsers}}
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">{{name}}</h5>
            <p class="card-text">Experience: {{skillLevel}}</p>
            <p class="card-text">Activity: {{skiOrSnowboard}}</p>
            <a href="/user/{{_id}}" class="card-link">Trips created by this user</a>
        </div>
    </div>
    {{/each}}
</div>