<div class="header">All Users</div>

<a href="/user/new">
    <button>
        Create User
    </button>
</a>


{{#each allUsers}}
<a class="user-item" href="/user/{{_id}}">
    <div class="title">Name</div>
    <div class="user-data">{{name}}</div>

    <div class="title">Skill Level</div>
    <div class="user-data">{{skillLevel}}</div>

    <div class="title">Ski or Snowboard</div>
    <div class="user-data">{{skiOrSnowboard}}</div>
</a>
<hr>
{{/each}}