<div class="header">Edit User</div>


<div class="create-user-form">
    <form action="/user/{{singleUser._id}}?_method=PUT" method="POST">
        <input class="form-control" type="text" value="{{singleUser.name}}" name="name" />
        <select class="form-control" name="skillLevel">
            <option value="" disabled selected hidden>Select an option</option>
            <option value="Beginner">Beginner</option>
            <option value="Intermediate">Intermediate</option>
            <option value="Advanced">Advanced</option>
            <option value="Expert">Expert</option>
        </select>
        <select class="form-control" name="skiOrSnowboard">
            <option value="" disabled selected hidden>Select an option</option>
            <option value="Ski">Ski</option>
            <option value="Snowboard">Snowboard</option>
        </select>
        <textarea class="form-control" rows="3" name="bio" placeholder="Write a short bio about yourself..."></textarea>
        <input type="submit" value="Save" class="btn btn-info form-control" />
    </form>
</div>