<div class="header">About Ski Trip Planner</div>

<div class="about-wrapper">
    <div class="description">Planning ski trips can get stressful. There is always uncertainty when planning a trip to a
        new ski town. Will there be enough snow? Is it close to an airport? Does it get crowded? If so, is the resort
        large enough to avoid the crowds or are there other resorts nearby? Ski Trip Planner was created to give users
        the tools required to make an informed decision about their next trip, or share past experiences.</div>

    <div class="description">As a user, you may create many trips to
        compare and narrow down your selection. Browse other user's trips to get
        ideas for a trip of your own. Don't be greedy! Use this platform to share your favorite powder
        filled vactions and let everyone know what they're missing out on. If you've ever spent the entire day in a lift
        line or were let down by the powder gods, warn your peers by creating a trip or adding notes to an existing one.
    </div>
</div>